:root {
    --terminal-input-height: 25px;
    --terminal-shadow-input-color: #777;
    --terminal-screen-width: 70%;
    --terminal-screen-background-color: black;
    --terminal-screen-text-color: lightgray;
    --terminal-screen-font: "Lucida Console", Monaco, monospace;
    --terminal-screen-extra-info-color: darkkhaki;
    --terminal-title-color: rgb(124, 123, 173);
}

.o_terminal {
    box-shadow: 1px 1px 10px #cecece;
    font-family: var(--terminal-screen-font);
    left: 50%;
    position: fixed;
    top: -100%;
    transform: translate(-50%, 0);
    width: var(--terminal-screen-width);
    z-index: 1041;
    display: grid; /* Here to force BS4 behavior */
}

.o_terminal div#terminal_screen {
    background-color: var(--terminal-screen-background-color);
    border: 0 solid gray;
    border-width: 1px 1px 0 1px;
    caret-color: var(--terminal-screen-text-color);
    color: var(--terminal-screen-text-color);
    overflow-y: scroll;
    padding: 0;
    resize: none;
    white-space: pre;
}

.o_terminal div#terminal_screen hr {
    border-color: gray;
}

.o_terminal div#terminal_screen .o_terminal_title {
    color: var(--terminal-title-color);
}

.o_terminal div#terminal_screen .o_terminal_click:hover {
    cursor: pointer;
    text-decoration: underline;
}

.o_terminal div#terminal_screen .error_message {
    background-color: darkred;
    border: 1px solid red;
    padding: 0.3em;
    border-radius: 3px;
    margin: 0.3em;
    display: block;
    overflow: auto;
}
.o_terminal div#terminal_screen .error_message > div {
    white-space: normal;
}
.o_terminal div#terminal_screen .error_message > div > ul {
    list-style-type: disclosure-closed;
    margin-bottom: 0;
    margin-top: 1.3em;
    padding-left: 2em;
}
.o_terminal div#terminal_screen .error_message > div > ul > li {
    margin-bottom: 3px;
}
.o_terminal div#terminal_screen .error_message li[name="debug"] .card-body {
    white-space: pre;
}
.o_terminal div#terminal_screen .error_message h4 {
    color: var(--terminal-screen-text-color);
    margin: 0;
}

.o_terminal div#terminal_screen .line-array {
    margin-left: 1em;
}
.o_terminal div#terminal_screen .line-array:before {
    content: "- ";
}

.o_terminal .terminal-user-input {
    background-color: var(--terminal-screen-background-color);
    border: 1px dotted #dedede;
    border-width: 1px 0 0 0;
    color: var(--terminal-screen-text-color);

    display: flex; /* Here to force BS4 behavior */
}

.o_terminal .terminal-user-input > .terminal-prompt {
    border: 0 solid gray;
    border-width: 0 0 1px 1px;
    width: 1.2em;
}

.o_terminal .terminal-user-input > .terminal-prompt:active,
.o_terminal .terminal-user-input > .terminal-prompt:focus {
    outline: hidden;
}

.o_terminal .terminal-user-input .rich-input {
    position: relative;
    width: 100%; /* Here to 11.0 */
}
.o_terminal .terminal-user-input .rich-input > #terminal_input {
    background-color: transparent;
}
.o_terminal .terminal-user-input .rich-input > #terminal_shadow_input {
    color: var(--terminal-shadow-input-color);
    pointer-events: none;
}
.o_terminal .terminal-user-input .rich-input > #terminal_input,
.o_terminal .terminal-user-input .rich-input > #terminal_shadow_input {
    flex: 1 1 auto; /* Here to force BS4 behavior */
    position: absolute;
    width: 100%;
}

.o_terminal .terminal-user-input input {
    background-color: var(--terminal-screen-background-color);
    border: 0 solid gray;
    border-width: 0 0 1px 0;
    caret-color: var(--terminal-screen-text-color);
    color: var(--terminal-screen-text-color);
    height: var(--terminal-input-height);
}

.o_terminal .terminal-user-input input[type="edit"] {
    padding: 0;
}
.o_terminal .terminal-user-input input:active,
.o_terminal .terminal-user-input input:focus {
    outline: hidden;
}

.o_terminal .print-table thead th {
    border: 1px solid white;
    border-width: 0 1px 1px 0;
}
.o_terminal .print-table tbody td {
    border: 1px solid white;
    border-width: 1px 1px 0 0;
}
.o_terminal .print-table thead th,
.o_terminal .print-table tbody td {
    padding: 0.3em;
}
.o_terminal .print-table tbody tr:hover {
    background-color: lightgray;
    color: black;
}

.o_terminal .print-table thead th:last-child,
.o_terminal .print-table tbody td:last-child {
    border-right-width: 0;
}

.o_terminal .terminal-screen-info-zone {
    margin: 1em;
    position: absolute;
    right: 1em;
    top: 0;
}
.o_terminal .terminal-screen-info-zone .terminal-screen-running-cmds {
    color: var(--terminal-screen-extra-info-color);
}
.o_terminal .terminal-screen-info-zone .terminal-screen-icon-maximize i {
    color: white;
    padding: 0.6em;
}
