# Configuration for known file extensions
[*.{css,js,mjs,json,md,xml,yaml,yml}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,md,js,mjs}]
indent_size = 2
