body {
    background-color: #dedede;
    padding: 1em;
}

.btn_zone {
    margin-top: 1em;
    text-align: right;
}

.btn_zone > button {
    padding: 0.5em;
}

.optsection textarea {
    height: 200px;
    white-space: pre;
    width: 98%;
}

.optsection {
    border: 1px solid gray;
    padding: 0.3em;
}

.optsection:not(:first-child) {
    margin-top: 0.5em;
}

.optsection h4 {
    margin: 0;
}
