/* Copyright  Alexandre Díaz <dev@redneboa.es> */
/* License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). */

body {
  background-color: #efefef;
  padding: 1em;
}

.btn_zone {
  margin-top: 1em;
  text-align: right;
}

.btn_zone > button {
  padding: 0.5em;
}

.optsection {
  border: 1px solid gray;
  padding: 0.8em;
  border-radius: 5px;
  background-color: white;
  box-shadow: #cecece 1px 1px 5px;
}
.optsection:not(:first-child) {
  margin-top: 0.5em;
}
.optsection h4 {
  margin: 0;
  font-size: 1.8em;
}
.optsection textarea {
  height: 200px;
  white-space: pre;
  width: 100%;
}
.optsection table.fullwidth {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #999;
}
.optsection table.fullwidth tr:nth-child(odd) {
  background-color: rgb(209, 209, 209);
}
.optsection table.fullwidth > thead > tr > th {
  padding: 0.3em;
  text-align: left;
  border: 1px solid #999;
}
.optsection table.fullwidth > tbody > tr:hover {
  background-color: rgb(193, 211, 199);
}
.optsection table.fullwidth > tbody > tr > td {
  padding: 0.3em;
  border: 1px solid #999;
}
.optsection .shortcut_btn_zone,
.optsection .color_domain_btn_zone {
  display: flex;
  gap: 0.2em;
  flex-direction: row;
  margin-top: 1em;
}
.optsection .shortcut_btn_zone input#shortcut_keybind {
  width: 13%;
}
.optsection .shortcut_btn_zone input#shortcut_commands {
  flex-grow: 1;
}

.optsection .color_domain_btn_zone input#color_domain_domain {
  flex-grow: 1;
}
.optsection .color_domain_btn_zone input#color_domain_color {
  width: 18%;
}
