/* Copyright  Alexandre Díaz <dev@redneboa.es> */
/* License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). */
:root {
  --terminal-input-height: 25px;
  --terminal-screen-width: 70%;
  --terminal-screen-width-maximized: 100%;
  --terminal-screen-font: 'Lucida Console', Monaco, monospace;
  --terminal-screen-height: 40vh;
  --terminal-screen-height-maximized: 100vh;
  --terminal-font-size: medium;
  --terminal-font-size-ca: small;
  --terminal-color-primary: #007bff;
  --terminal-color-secondary: #677886;
  --terminal-color-success: #28a745;
  --terminal-color-danger: #dc3545;
  --terminal-color-warning: #ffc107;
  --terminal-color-info: #17a2b8;
  --terminal-color-light: #f8f9fa;
  --terminal-color-dark: #343a40;
  --terminal-color-muted: #6c757d;
  --terminal-color-white: #fff;
}

.o_terminal {
  box-shadow: 1px 1px 10px var(--terminal-color-secondary);
  border: 0 solid var(--terminal-color-muted);
  border-width: 1px 1px 0 1px;
  font-family: var(--terminal-screen-font);
  left: 50%;
  position: fixed;
  top: -110%;
  transform: translate(-50%, 0);
  width: var(--terminal-screen-width);
  z-index: 1041;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  transition: 200ms;
  transition-timing-function: ease-out;
  height: var(--terminal-screen-height);
  font-size: var(--terminal-font-size);
}

.o_terminal.term-maximized {
  width: var(--terminal-screen-width-maximized);
  height: var(--terminal-screen-height-maximized);
  border-width: 0;
}

.o_terminal div#terminal_screen {
  background-color: var(--terminal-color-dark);
  caret-color: var(--terminal-color-white);
  color: var(--terminal-color-light);
  height: 100%;
  opacity: 0.93;
  overflow-y: scroll;
  padding: 0;
  resize: none;
  scrollbar-color: var(--terminal-color-white) var(--terminal-color-dark);
  white-space: pre;
}
.o_terminal div#terminal_screen::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.o_terminal div#terminal_screen::-webkit-scrollbar-track {
  background: transparent;
}
.o_terminal div#terminal_screen::-webkit-scrollbar-thumb {
  background-color: var(--terminal-color-white);
}

.o_terminal div#terminal_screen hr {
  border-color: var(--terminal-color-muted);
}

.o_terminal div#terminal_screen .o_terminal_title {
  color: var(--terminal-color-primary);
}

.o_terminal div#terminal_screen .o_terminal_click {
  text-decoration: underline;
}
.o_terminal div#terminal_screen .o_terminal_click:hover {
  cursor: pointer;
}

.o_terminal div#terminal_screen .o_internal_cmd {
  color: var(--terminal-color-info);
}

.o_terminal div#terminal_screen .error_message {
  background-color: var(--terminal-color-danger);
  border: 1px solid var(--terminal-color-warning);
  padding: 0.3em;
  border-radius: 3px;
  margin: 0.3em;
  display: block;
  overflow: auto;
}
.o_terminal div#terminal_screen .error_message > div {
  white-space: normal;
}
.o_terminal div#terminal_screen .error_message > div > ul {
  list-style-type: disclosure-closed;
  margin-bottom: 0;
  margin-top: 1.3em;
  padding-left: 2em;
}
.o_terminal div#terminal_screen .error_message > div > ul > li {
  margin-bottom: 3px;
}
.o_terminal div#terminal_screen .error_message .card-body {
  color: black;
  border-radius: 0;
}
.o_terminal div#terminal_screen .error_message li[name='debug'] .card-body {
  white-space: pre;
}
.o_terminal div#terminal_screen .error_message h4 {
  color: var(--terminal-color-light);
  margin: 0;
}

.o_terminal div#terminal_screen .line-text {
  white-space: normal;
}

.o_terminal div#terminal_screen .line-text .print-table {
  white-space: nowrap;
}

.o_terminal div#terminal_screen .line-pre {
  white-space: pre;
}

.o_terminal div#terminal_screen .line-br::after {
  content: '\A';
  white-space: pre;
}

.o_terminal div#terminal_screen .line-array {
  margin-left: 1em;
}
.o_terminal div#terminal_screen .line-array:before {
  content: '- ';
}

.o_terminal div#terminal_assistant {
  font-size: var(--terminal-font-size-ca);
  position: absolute;
  pointer-events: none;
  z-index: 10;
}

.o_terminal div#terminal_assistant > .row > div#terminal_assistant_args {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-secondary);
}

.o_terminal div#terminal_assistant > .row > div#terminal_assistant_desc {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-muted);
}

.o_terminal div#terminal_assistant > span#terminal_assistant_args_info {
  position: absolute;
  bottom: 0;
  right: 10px;
  border-radius: 2px 2px 0 0;
  background-color: var(--terminal-color-muted);
}

.o_terminal .terminal-user-input {
  background-color: var(--terminal-color-dark);
  border: 1px dotted var(--terminal-color-dark);
  border-width: 1px 0 0 0;
  color: var(--terminal-color-light);
  display: flex;
}

.o_terminal .terminal-user-input > .terminal-prompt-container {
  padding: 2px 3px;
  max-width: 15%;
  display: flex;
}
.o_terminal .terminal-user-input > .terminal-prompt-container.terminal-prompt-interactive {
  max-width: 50%;
  background-color: var(--terminal-color-primary) !important;
}
.o_terminal .terminal-user-input > .terminal-prompt-container > .terminal-prompt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.o_terminal .terminal-user-input > .terminal-prompt-info-container > .terminal-prompt-info {
  white-space: nowrap;
}

.o_terminal .terminal-user-input .rich-input {
  position: relative;
  flex: 1 1 auto;
}
.o_terminal .terminal-user-input .rich-input > #terminal_input {
  background-color: transparent;
}
.o_terminal .terminal-user-input .rich-input > #terminal_input.highlight {
  background-color: var(--terminal-color-white);
  color: var(--terminal-color-dark);
}
.o_terminal .terminal-user-input .rich-input > #terminal_shadow_input {
  color: var(--terminal-color-muted);
  pointer-events: none;
}
.o_terminal .terminal-user-input .rich-input > #terminal_input,
.o_terminal .terminal-user-input .rich-input > #terminal_shadow_input {
  flex: 1 1 auto; /* Here to force BS4 behavior */
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px;
}
.o_terminal .terminal-user-input .rich-input > #terminal_input_multi {
  flex: 1 1 auto; /* Here to force BS4 behavior */
  width: 100%;
  padding: 3px;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
}

.o_terminal .terminal-user-input input {
  background-color: var(--terminal-color-dark);
  border: 0;
  caret-color: var(--terminal-color-white);
  color: var(--terminal-color-light);
  height: var(--terminal-input-height);
}
.o_terminal .terminal-user-input textarea {
  background-color: var(--terminal-color-dark);
  border: 0;
  caret-color: var(--terminal-color-white);
  color: var(--terminal-color-light);
}

.o_terminal .terminal-user-input input[type='edit'] {
  padding: 0;
}
.o_terminal .terminal-user-input input:active,
.o_terminal .terminal-user-input input:focus {
  outline: none;
}

.o_terminal #terminal_input_multi_info {
  position: absolute;
  top: 60px;
  right: 1em;
}

.o_terminal .print-table thead th {
  border: 1px solid var(--terminal-color-white);
  border-width: 0 1px 1px 0;
}
.o_terminal .print-table tbody td {
  border: 1px solid var(--terminal-color-white);
  border-width: 1px 1px 0 0;
}
.o_terminal .print-table thead th,
.o_terminal .print-table tbody td {
  padding: 0.3em;
}
.o_terminal .print-table tbody tr:hover {
  background-color: var(--terminal-color-light);
  color: var(--terminal-color-dark);
}

.o_terminal .print-table thead th:last-child,
.o_terminal .print-table tbody td:last-child {
  border-right-width: 0;
}

.o_terminal .terminal-screen-info-zone {
  margin: 1em;
  position: absolute;
  right: 1em;
  top: 0;
  z-index: 10;
}
.o_terminal .terminal-screen-info-zone .terminal-screen-running-cmds {
  color: var(--terminal-color-infor);
}

/** GRAPHICS CANVAS **/
.terminal-graphics-window {
  position: absolute;
  z-index: 2000;
  background-color: var(--terminal-color-dark);
  border: 2px solid var(--terminal-color-secondary);
}

/** COMMAND ASSISTANT **/

/** HELP COMMAND **/
.o_terminal .terminal-info-section {
  margin-left: 2em;
}
.o_terminal .terminal-info-section .terminal-info-description {
  margin-left: 2em;
}

/* TRANSITIONS */
.terminal-transition-topdown {
  top: 0;
  transition: 350ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

/* BASE COLORS */
.o_terminal .text-primary {
  color: var(--terminal-color-primary) !important;
}
.o_terminal .text-primary.active {
  color: color-mix(in srgb, var(--terminal-color-primary), white 20%) !important;
}
.o_terminal .nav.text-primary {
  --nav-link-color: var(--terminal-color-primary);
}
.o_terminal .text-secondary {
  color: var(--terminal-color-secondary) !important;
}
.o_terminal .text-secondary.active {
  color: color-mix(in srgb, var(--terminal-color-secondary), white 20%) !important;
}
.o_terminal .nav.text-secondary {
  --nav-link-color: var(--terminal-color-secondary);
}
.o_terminal .text-success {
  color: var(--terminal-color-success) !important;
}
.o_terminal .text-success.active {
  color: color-mix(in srgb, var(--terminal-color-success), white 20%) !important;
}
.o_terminal .nav.text-success {
  --nav-link-color: var(--terminal-color-success);
}
.o_terminal .text-danger {
  color: var(--terminal-color-danger) !important;
}
.o_terminal .text-danger.active {
  color: color-mix(in srgb, var(--terminal-color-danger), white 20%) !important;
}
.o_terminal .nav.text-danger {
  --nav-link-color: var(--terminal-color-danger);
}
.o_terminal .text-warning {
  color: var(--terminal-color-warning) !important;
}
.o_terminal .text-warning.active {
  color: color-mix(in srgb, var(--terminal-color-warning), white 20%) !important;
}
.o_terminal .nav.text-warning {
  --nav-link-color: var(--terminal-color-warning);
}
.o_terminal .text-info {
  color: var(--terminal-color-info) !important;
}
.o_terminal .text-info.active {
  color: color-mix(in srgb, var(--terminal-color-info), white 20%) !important;
}
.o_terminal .nav.text-info {
  --nav-link-color: var(--terminal-color-info);
}
.o_terminal .text-light {
  color: var(--terminal-color-light) !important;
}
.o_terminal .text-light.active {
  color: color-mix(in srgb, var(--terminal-color-light), white 20%) !important;
}
.o_terminal .nav.text-light {
  --nav-link-color: var(--terminal-color-light);
}
.o_terminal .text-dark {
  color: var(--terminal-color-dark) !important;
}
.o_terminal .text-dark.active {
  color: color-mix(in srgb, var(--terminal-color-dark), white 20%) !important;
}
.o_terminal .nav.text-dark {
  --nav-link-color: var(--terminal-color-dark);
}
.o_terminal .text-muted {
  color: var(--terminal-color-muted) !important;
}
.o_terminal .text-muted.active {
  color: color-mix(in srgb, var(--terminal-color-muted), white 20%) !important;
}
.o_terminal .nav.text-muted {
  --nav-link-color: var(--terminal-color-muted);
}
.o_terminal .text-white {
  color: var(--terminal-color-white) !important;
}
.o_terminal .text-white.active {
  color: color-mix(in srgb, var(--terminal-color-white), white 20%) !important;
}
.o_terminal .nav.text-white {
  --nav-link-color: var(--terminal-color-white);
}

.o_terminal .bg-primary {
  background-color: var(--terminal-color-primary) !important;
}
.o_terminal .bg-secondary {
  background-color: var(--terminal-color-secondary) !important;
}
.o_terminal .bg-success {
  background-color: var(--terminal-color-success) !important;
}
.o_terminal .bg-danger {
  background-color: var(--terminal-color-danger) !important;
}
.o_terminal .bg-warning {
  background-color: var(--terminal-color-warning) !important;
}
.o_terminal .bg-info {
  background-color: var(--terminal-color-info) !important;
}
.o_terminal .bg-light {
  background-color: var(--terminal-color-light) !important;
}
.o_terminal .bg-dark {
  background-color: var(--terminal-color-dark) !important;
}
.o_terminal .bg-muted {
  background-color: var(--terminal-color-muted) !important;
}
.o_terminal .bg-white {
  background-color: var(--terminal-color-white) !important;
}

.o_terminal .border-primary {
  border-color: var(--terminal-color-primary) !important;
}
.o_terminal .border-secondary {
  border-color: var(--terminal-color-secondary) !important;
}
.o_terminal .border-success {
  border-color: var(--terminal-color-success) !important;
}
.o_terminal .border-danger {
  border-color: var(--terminal-color-danger) !important;
}
.o_terminal .border-warning {
  border-color: var(--terminal-color-warning) !important;
}
.o_terminal .border-info {
  border-color: var(--terminal-color-info) !important;
}
.o_terminal .border-light {
  border-color: var(--terminal-color-light) !important;
}
.o_terminal .border-dark {
  border-color: var(--terminal-color-dark) !important;
}
.o_terminal .border-muted {
  border-color: var(--terminal-color-muted) !important;
}
.o_terminal .border-white {
  border-color: var(--terminal-color-white) !important;
}

.o_terminal .btn-primary {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-primary);
  border-color: var(--terminal-color-primary);
}
.o_terminal .btn-primary:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-primary), black 20%);
  border-color: var(--terminal-color-primary);
}
.o_terminal .btn-secondary {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-secondary);
  border-color: var(--terminal-color-secondary);
}
.o_terminal .btn-secondary:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-secondary), black 20%);
  border-color: var(--terminal-color-secondary);
}
.o_terminal .btn-success {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-success);
  border-color: var(--terminal-color-success);
}
.o_terminal .btn-success:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-success), black 20%);
  border-color: var(--terminal-color-success);
}
.o_terminal .btn-danger {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-danger);
  border-color: var(--terminal-color-danger);
}
.o_terminal .btn-danger:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-danger), black 20%);
  border-color: var(--terminal-color-danger);
}
.o_terminal .btn-warning {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-warning);
  border-color: var(--terminal-color-warning);
}
.o_terminal .btn-warning:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-warning), black 20%);
  border-color: var(--terminal-color-warning);
}
.o_terminal .btn-info {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-info);
  border-color: var(--terminal-color-info);
}
.o_terminal .btn-info:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-info), black 20%);
  border-color: var(--terminal-color-info);
}
.o_terminal .btn-light {
  color: var(--terminal-color-dark);
  background-color: var(--terminal-color-light);
  border-color: var(--terminal-color-light);
}
.o_terminal .btn-light:hover {
  color: var(--terminal-color-dark);
  background-color: color-mix(in srgb, var(--terminal-color-light), black 20%);
  border-color: var(--terminal-color-light);
}
.o_terminal .btn-dark {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-dark);
  border-color: var(--terminal-color-dark);
}
.o_terminal .btn-dark:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-dark), black 20%);
  border-color: var(--terminal-color-dark);
}
.o_terminal .btn-muted {
  color: var(--terminal-color-white);
  background-color: var(--terminal-color-muted);
  border-color: var(--terminal-color-muted);
}
.o_terminal .btn-muted:hover {
  color: var(--terminal-color-white);
  background-color: color-mix(in srgb, var(--terminal-color-muted), black 20%);
  border-color: var(--terminal-color-muted);
}
.o_terminal .btn-white {
  color: var(--terminal-color-dark);
  background-color: var(--terminal-color-white);
  border-color: var(--terminal-color-white);
}
.o_terminal .btn-white:hover {
  color: var(--terminal-color-dark);
  background-color: color-mix(in srgb, var(--terminal-color-white), black 20%);
  border-color: var(--terminal-color-white);
}
